@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy|Play');

body {
    font-family: "Play", sans-serif;
    color: #333333;
}

.heading {
    font-family: "Luckiest Guy",cursive;
    font-size: 1.5em;
    color: #333333;
} 
